<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <title>Formation Angular</title>

    <script data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" data-semver="3.3.1" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" data-semver="3.3.1" ></script>
    <script data-semver="1.4.0-beta.5" src="https://code.angularjs.org/1.4.0-beta.5/angular.js"></script>
    <link href="../../Content/style.css" rel="stylesheet" />

    <script src="../../Scripts/angular-resource.js"></script>
    <script src="../../Scripts/angular-ui-router.js"></script>
    <script src="../../Scripts/controller.js"></script>
    <script src="../../Scripts/ressource.js"></script>
    <script src="../../Scripts/bankOperationController.js"></script>
    <script src="../../Scripts/directive.js"></script>
    <script src="../../Scripts/route.js"></script>
    <script src="../../Scripts/service.js"></script>
</head>


<body ui-view>


</body>

</html>
