<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Account number</th>
      <th>amount</th>
      <th></th>
    </tr>
    <tr ng-repeat="account in accounts"
        ng-class="account.amount < 0 ? 'danger' : 'success'">
      <td>{{ account.id }}</td>
      <td>{{ account.familyName + ' ' + account.firstName  }}</td>
      <td>{{ account.email }}</td>
      <td>{{ account.accountNumber }}</td>
      <td>{{ account.amount }}</td>
      <td>
          <button class="btn btn-default"
                  ui-sref="main.operations({ id: account.id })">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" srf=""></span> Change Amount
          </button>
      </td>
    </tr>
  </tbody>
</table>